.DS_Store
TapSelect.xcodeproj/xcuserdata/stefan.xcuserdatad/xcschemes/xcschememanagement.plist
TapSelect.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TapSelect.xcodeproj/xcshareddata/IDETemplateMacros.plist
TapSelect.xcodeproj/xcuserdata/stefan.lahme.xcuserdatad/xcschemes/xcschememanagement.plist
